{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Регистрация клиента{% endblock title %}
  
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <h1 class="">Регистрация клиента</h1>
      <p>Пожалуйста, заполните форму, чтобы размещать заказы для исполнителей</p>
      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Зарегестрироваться" class="btn btn-success w-100">
      </form>
      <p class="mt-3">
        Или Вы можете <a href="{% url 'login' %}" class="text-decoration-none">Войти</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}