{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}Зарегестрироваться{% endblock title %}
  
{% block content %}
<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col col-md-4">
      <h1 class="">Зарегестрироваться</h1>
      <p>Начните пользоваться лучшей фриланс платформой уже сейчас бесплатно</p>
      <p>Пожалуйста, выберите выберите роль</p>
      <p class="mt-3">
        <a href="{% url 'signup_client' %}" class="btn btn-lg btn-success">Клиент</a>
        <a href="{% url 'signup_worker' %}" class="btn btn-lg btn-primary">Исполнитель</a>
      </p>
    </div>
  </div>
</div>
{% endblock content %}