{% extends '_base.html' %}

{% block title %}Список заказов{% endblock title %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for order in orders %}
    <div class="col">
      <div class="card h-100">
        <img src="https://cdn-edge.kwork.ru/files/category/collage/categories_first_level/ru/t3_r/design_guest_new.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ order.title }}</h5>
          <p class="card-text">{{ order.description }}</p>
          <a href="{% url 'order_detail' order.pk %}" class="btn btn-outline-primary">Подробнее</a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary">{{ order.updated_at }}</small>
        </div>
      </div>
    </div>
    {% empty %}
    <p>На данный момент нет новых заказов.</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
